@import "tailwindcss";

:root {
  --primary: #3758f9;
  --brand: #0090ff;
  --secondary-brand: #00caa3;
  --invert: #f2f2f2;

  --text-primary: #333333;
  --text-secondary: #526071;
  --text-disabled: #bdbdbd;

  --icon-primary: #333333;
  --icon-secondary: #828282;

  --background: #ffffff;
  --border: #e0e0e0;

  --dark-800: #111b26;
  --dark-600: #2c3c4d;
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
  --tetriary: #959ea9;
}

@theme inline {
  /* COLORS */
  --color-primary: var(--primary);
  --color-brand: var(--brand);
  --color-secondary-brand: var(--secondary-brand);
  --color-invert: var(--invert);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-disabled: var(--text-disabled);

  --color-icon-primary: var(--icon-primary);
  --color-icon-secondary: var(--icon-secondary);

  --color-background: var(--background);
  --color-border: var(--border);

  --color-dark-800: var(--dark-800);
  --color-dark-600: var(--dark-600);
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-tetriary: var(--tetriary);

  /* FONTS */
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
  --font-nunito-sans: var(--font-nunito-sans);
  --font-sora: var(--font-sora);

  /* TYPOGRAPHY HEADING SCALE */
  --text-h1: 60px;
  --text-h1--line-height: 72px;

  --text-h2: 48px;
  --text-h2--line-height: 58px;

  --text-h3: 40px;
  --text-h3--line-height: 48px;

  --text-h4: 30px;
  --text-h4--line-height: 38px;

  --text-h5: 28px;
  --text-h5--line-height: 40px;

  --text-h6: 24px;
  --text-h6--line-height: 30px;

  /* TYPOGRAPHY BODY LARGE TEXT */
  --text-body-large: 18px;
  --text-body-large--line-height: 26px;

  /* TYPOGRAPHY BODY MEDIUM TEXT */
  --text-body-medium: 16px;
  --text-body-medium--line-height: 24px;

  /* TYPOGRAPHY BODY SMALL TEXT  */
  --text-body-small: 14px;
  --text-body-small--line-height: 22px;

  /* TYPOGRAPHY BODY EXTRA SMALL TEXT */
  --text-body-extra-small: 12px;
  --text-body-extra-small--line-height: 20px;
}

/* HEADING UTILITIES  */
@utility heading-1 {
  @apply text-h1 font-bold;
}

@utility heading-2 {
  @apply text-h2 font-bold;
}

@utility heading-3 {
  @apply text-h3 font-bold;
}

@utility heading-4 {
  @apply text-h4 font-bold;
}

@utility heading-5 {
  @apply text-h5 font-semibold;
}

@utility heading-6 {
  @apply text-h6 font-semibold;
}

/* TEXT BODY LARGE UTILITIES */

@utility text-lg-regular {
  @apply text-body-large font-normal;
}

@utility text-lg-medium {
  @apply text-body-large font-medium;
}

@utility text-lg-semibold {
  @apply text-body-large font-semibold;
}

@utility text-lg-bold {
  @apply text-body-large font-bold;
}

/* TEXT BODY MEDIUM UTILITIES */

@utility text-md-regular {
  @apply text-body-medium font-normal;
}

@utility text-md-medium {
  @apply text-body-medium font-medium;
}

@utility text-md-semibold {
  @apply text-body-medium font-semibold;
}

@utility text-md-bold {
  @apply text-body-medium font-bold;
}

/* TEXT BODY SMALL UTILITIES */
@utility text-sm-regular {
  @apply text-body-small font-normal;
}

@utility text-sm-medium {
  @apply text-body-small font-medium;
}

/* TEXT BODY EXTRA SMALL UTILITIES  */
@utility text-xs-regular {
  @apply text-body-extra-small font-normal;
}

@utility text-xs-medium {
  @apply text-body-extra-small font-medium;
}
